/* Universal selector */
* {
  margin: 0;
  box-sizing: border-box;
  opacity: 0.85;
}

/* Body full viewport height */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Sections styling */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: calc(100% / 3);
}

/* Section background colors */
#face {
  background-color: cyan;
  align-items: center;
}

#upper-body {
  background-color: blueviolet;
}

#lower-body {
  background-color: lightsalmon;
}

/* Nested elements styling */
div,
p {
  border: solid 1px black;
  padding: 10px;
  margin: 0;
  border-radius: 30px;
}

/* Eyes container */

.eye-closed {
  height: 4px;
  padding: 0 5px;
  border-radius: 10px;
}

#eyes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  background-color: yellow;
  border-radius: 50px;
}

/* Torso */
#torso {
  width: 200px;
  background-color: violet;
}

/* Classes pour les éléments répétitifs */
.eye {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
}

.arm {
  background-color: aquamarine;
}

.leg {
  background-color: dodgerblue;
}

.body-member {
  width: 50px;
  margin: 30px;
}

.class-that {
  border: 3px dashed black;
}
