/* Universal selector */
* {
  margin: 0;
  box-sizing: border-box;
  opacity: 0.85;
}

/* Body */
body {
  height: 100vh;
}

/* Sections */
section {
  padding: 20px;
  width: 100%;
  height: calc(100% / 3);
  display: flex;
  justify-content: center;
}

/* Borders for div and p elements */
div,
p {
  border: solid 1px black;
  padding: 10px;
  margin: 0;
  border-radius: 30px;
}

/* Section backgrounds */
#face {
  background-color: cyan;
  align-items: center;
}

#upper-body {
  background-color: blueviolet;
}

#lower-body {
  background-color: lightsalmon;
}

/* Eyes container */
#eyes {
  display: flex;
  background-color: yellow;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  width: 200px;
}

/* Torso */
#torso {
  width: 200px;
  background-color: violet;
}
