.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.eye {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
}

.arm {
  background-color: aquamarine;
}

.leg {
  background-color: dodgerblue;
}

.body-member {
  width: 50px;
  height: 30px;
  margin: 5px;
}
