* {
  margin: 0;
  box-sizing: border-box;
  opacity: 0.85;
}

body {
  height: 100vh;
}

section {
  padding: 20px;
  width: 100%;
  height: calc(100% / 3);
  display: flex;
  justify-content: center;
}

div,
p {
  border: solid 1px black;
  padding: 10px;
  margin: 0;
  border-radius: 30px;
}

#face {
  background-color: cyan;
  align-items: center;
}

#upper-body {
  background-color: blueviolet;
}

#lower-body {
  background-color: lightsalmon;
}

#torso {
  width: 200px;
  background-color: violet;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.eye {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
}

.arm {
  background-color: aquamarine;
}

.leg {
  background-color: dodgerblue;
}

.body-member {
  width: 50px;
  margin: 30px;
  margin: 5px;
}
