div,
#eyes {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
}

#arm {
  background-color: aquamarine;
}

#leg {
  background-color: dodgerblue;
}

#body-member {
  width: 50px;
  margin: 30px;
}